.metadata/
/JFrameUTM/CalculadoraBasicaUTM/target/
/JDBC/IntroduccionJDBC/target/
/JDBC/ManejoJDBC/target/
/JDBC/TransaccionesJDBC/target/
/sga-jee/target/
/ProyectoVentas/nbproject/private/
/ProyectoVentas/build/
